<div class="list card">
  <div class="item item-body">
    <label class="item item-input">
      <input ng-model="data.backupCommandString" type="text" placeholder="Backup string"/>
    </label>
    <button on-tap="scanCommand()" class="button button-block">
		 <i class="icon ion-qr-scanner"></i> 
		  Scan
    </button> 
  </div>
  <div class="item item-body">
    <label class="item item-input">
      <input ng-model="data.address" type="text" placeholder="Plain address"/>
    </label>
    <label class="item item-input">
      <input ng-model="data.secret" type="text" placeholder="Plain secret"/>
    </label>
  </div>
</div>