<ion-view title="Receive (T)">
  <ion-content class="has-header padding">
    <div class="list card">
	  <div class="item item-button-right">
		Your Stellar Address: <br/>
		<font size="4">{{account.address}}</font>
		<button class="button button-positive" on-tap="share()">
		  <i class="icon ion-android-share"></i>
		</button>
	  </div>
	  <div class="item item-body">	   
		<div id="QRCODE" style="width: 100px; height: 100px"></div><br/>
	  </div>
	  <div class="item item-body">
		Let the sender scan this code...
	  </div>
	</div>
  </ion-content>
</ion-view>
