<ion-view title="Wallet (T)">
<ion-content class="has-header padding">
<div class="list card">
  <div class="item item-divider">
    Your Wallet
  </div>
  <div class="item item-body">
    You have <font size="5">{{account.balance}}</font> (STR).
  </div>
  <div class="item item-divider">
    Recent Transactions
  </div>
  <div class="item item-body">
   <ion-scroll style="height: 162px;">
    <ion-list ng-repeat="item in account.transactions">
	<ion-item class="" ng-if="item.Account === account.address && item.TransactionType === 'TrustSet'">		
      You now trust {{item.LimitAmount.issuer}} over {{item.LimitAmount.value}} {{item.LimitAmount.currency ? item.LimitAmount.currency : 'Unknown'}}		
     </ion-item>
     <ion-item ng-if="!(item.Account === account.address) && item.TransactionType === 'TrustSet'">		
      {{item.Account}} now trusts you over {{item.LimitAmount.value}} {{item.LimitAmount.currency ? item.LimitAmount.currency : 'Unknown'}}
     </ion-item>
     <ion-item class="" ng-if="item.Account === account.address && item.TransactionType === 'Payment'">		
      You sent {{item.Amount.currency ? item.Amount.value : (item.Amount / 1000000) }} {{item.Amount.currency ? item.Amount.currency : 'STR'}} to {{item.Destination}}		
     </ion-item>
     <ion-item ng-if="!(item.Account === account.address) && item.TransactionType === 'Payment'">		
      You received {{item.Amount.currency ? item.Amount.value : (item.Amount / 1000000)}} {{item.Amount.currency ? item.Amount.currency : 'STR'}} from {{item.Account}}
     </ion-item>
    </ion-list>
   </ion-scroll>
  </div> 
</div>
</ion-content>
</ion-view>