<ion-view title="Wallet (T)">
  <ion-content class="has-header padding">
    <ion-item class="">
        <font size="+2">{{account.balance}}</font> (STR)
    </ion-item>
    <ion-list ng-repeat="item in account.otherCurrencies">
	    <ion-item class="">
            <font size="+2">{{item.amount}}</font> ({{item.currency}})
        </ion-item>
    </ion-list>
	<div class="button-bar">
		<button class="button button-block" on-tap="importKeys()">
			 <i class="icon ion-archive"></i> 
			  Import
		</button> 
		<button class="button button-block" on-tap="shareKeys()">
			<i class="icon ion-share"></i>
			  Export
		</button>
	</div>
  </ion-content>
</ion-view>