<ion-view title="Centaurus">
<ion-content class="has-header padding">
<div class="list card">
  <div class="item item-divider">
    Centaurus Stellar Wallet <font size="-1">(2.0)</font>
  </div>
  <div class="item item-body">
    <font size="4">Stellar aims for the stars. And the nearest star system to us is Alpha Centauri!
	The next step to get there is a functional app for sending and receiving payments.</font>
  </div>
  <div class="item item-divider">
    Features
  </div>
  <div class="item item-body">
	<list>
	  <li>Display balances</li>	  
	  <li>Send by manually pasting an adress</li>	  
	  <li>Send by scanning a QR-code</li>	  
	  <!--<li>Cross currency payments</li>-->	  
	  <li>QR-code for receiving</li>	  
	  <li>Display recent transactions</li>
	  <li>Encrypted backups</li>
	</list>
  </div>
  <div class="item item-divider">
    Getting Started
  </div>
  <div class="item item-body">
	<list>
	  <li>Use the generated address or import your keys from the stellar upgrade.</li>
	  <li>Go to the receive tab and share your address with a friend who already has Lumens.</li>	  
	  <!--<li>If you have a facebook account, you're lucky! On launch.stellar.org, authenticate with facebook and get Stellars for free, worth about 10$.</li>-->
      <li>Browse <a href="https://stellartalk.org/" target="_blank" onClick="javascript:return openExternal(this)">https://stellartalk.org/</a>
        or <a href="https://www.stellar.org/learn/" target="_blank" onClick="javascript:return openExternal(this)">https://www.stellar.org/learn/</a> to find more alternatives.</li>
	  <li>Make a backup of your wallet and keep it safe! Otherwise, if you lose your phone, uninstall the app, or clear the app data, your remaining Lumens (and all future payments to this address) are lost forever!</li>	  
	</list>
  </div>
  <div class="item item-divider">
    Known Issues
  </div>
  <div class="item item-body">
	First of all you should be aware, that this app is in a very early stage and errors are still likely to occur. 
	Don't hold more Lumens in this app than you need for every day purpose and you can afford to loose in worst case.
	<p>
	<list>
	  <li>Connectivity with the stellar network may fail for multiple reasons. If your account balance seems incorrect, closing an reopening the app might help.</li>
	  <li>Stellar names are not supported.</li>
	  <li>Account reserve is not calculated correctly.</li>
	</list>
	</p>
  </div>
  <div class="item item-divider">
    Contact
  </div>
  <div class="item item-body">
	<list>
	  <li>
	  <a href="http://tbltzk.github.io/Centaurus/" target="_blank" onClick="javascript:return openExternal(this)">http://tbltzk.github.io/Centaurus/</a></li>
	  <li>Questions and feedback appreciated: <a href="mailto:centaurus@xcoins.de">centaurus@xcoins.de</a></li>
	</list>
  </div>
</div>
</ion-content>
</ion-view>
