<ion-view title="Centaurus">
<ion-content class="has-header padding">
<div class="list card">
  <div class="item item-divider">
    Centaurus Stellar Wallet <font size="-1">(1.0)</font>
  </div>
  <div class="item item-body">
    <font size="4">Stellar aims for the stars. And the nearest star system to us is Alpha Centauri!
	The next step to get there is a functional app for sending and receiving payments.</font>
  </div>
  <div class="item item-divider">
    Features
  </div>
  <div class="item item-body">
	<list>
	  <li>Display balance</li>	  
	  <li>Send by manually pasting an adress</li>	  
	  <li>Send by scanning a QR-code</li>	  
	  <li>Cross currency payments</li>	  
	  <li>Generate a QR-code for receiving</li>	  
	  <li>Display recent transactions</li>
	  <li>Encrypted backups</li>
	</list>
  </div>
  <div class="item item-divider">
    Getting Started
  </div>
  <div class="item item-body">
	<list>
	  <li>Use the generated address or create a stellar account at <a href="https://launch.stellar.org" target="_blank" onClick="javascript:return openExternal(this)">launch.stellar.org</a> and import your keys from there.</li>
	  <li>Go to the receive tab and share your address with a friend who already has Stellars.</li>	  
	  <li>If you have a facebook account, you're lucky! On launch.stellar.org, authenticate with facebook and get Stellars for free, worth about 10$.</li>
	  <li>Browse stellartalk.org and find more alternatives</li>
	  <li>Make a backup of your wallet and keep it safe! Otherwise, if you lose your phone, uninstall the app, or clear the app data, your remaining Stellars (and all future payments to this address) are lost forever!</li>	  
	</list>
  </div>
  <div class="item item-divider">
    Known Issues
  </div>
  <div class="item item-body">
	First of all you should be aware, that this app is in a very early stage and errors are still likely to occur. 
	Don't hold more Stellars in this app than you need for every day purpose and you can afford to loose in worst case.
	<p>
	<list>
	  <li>Connectivity may fail for multiple reasons. In this case you cannot do anything with the app. Your address remains displayed as "loading".</li>
	  <li>Stellar Names are not supported.</li>
	  <li>Account reserve is not calculated correctly.</li>
	</list>
	</p>
  </div>
  <div class="item item-divider">
    Contact
  </div>
  <div class="item item-body">
	<list>
	  <li>
	  <a href="http://tbltzk.github.io/Centaurus/" target="_blank" onClick="javascript:return openExternal(this)">http://tbltzk.github.io/Centaurus/</a></li>
	  <li>Questions and feedback appreciated: <a href="mailto:centaurus@xcoins.de">centaurus@xcoins.de</a></li>
	</list>
  </div>
</ion-content>
</ion-view>
