<ion-view title="Send (T)">
  <ion-content class="narrow">
    <label class="item item-input">
      <input ng-model="paymentData.destinationAddress" type="text" placeholder="Destination Address" />
    </label>
    <div class="row no-padding">
      <label class="item item-input" style="width:80%">
        <input placeholder="0" type="number" />
      </label>
      <label class="item align-right" ng-if="destinationInfo.acceptedCurrencies.length > 1" style="width:22%; padding:12px">
        <a href="javascript:void(0)" on-tap="currencyPopover.show($event);">
              {{paymentData.currency}}
          </a>
      </label>
      <label class="item align-right" ng-if="destinationInfo.acceptedCurrencies.length == 1" style="width:22%; padding:12px">
        {{paymentData.currency}}
      </label>
    </div>
    <label class="item item-input" ng-if="showDestinationTag">
      <input ng-model="paymentData.destinationTag" type="number" />
    </label>
    <a href="javascript:void(0)" on-tap="showDestinationTag = !showDestinationTag">Destination Tag</a>
    <button on-tap="sendPayment()" class="button button-block button-positive">
      Send now!
    </button>
    <div class="item item-body narrow">
      <button on-tap="scanCode()" class="button button-block">
        <i class="icon ion-qr-scanner"></i> Scan code
      </button>
      <button on-tap="donate()" class="button button-block">
        <i class="icon ion-star"></i>
        <font size="-1">Like this app? Donate!</font>
      </button>
    </div>
  </ion-content>
</ion-view>