<ion-tabs class="tabs-icon-bottom">
  <ion-tab title="{{'navigation.anchors.title' | translate}}" icon="icon ion-cash" href="#/tab/anchors/">
    <ion-nav-view name="view-anchors"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'navigation.contacts.title' | translate}}" icon="icon ion-person-stalker" href="#/tab/contacts/">
    <ion-nav-view name="view-contacts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'navigation.receive.title' | translate}}" icon="icon ion-reply" href="#/tab/receive/">
    <ion-nav-view name="tab-receive"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'navigation.wallet.title' | translate}}" icon="icon ion-home" href="#/tab/wallet/">
    <ion-nav-view name="tab-wallet"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'navigation.send.title' | translate}}" icon="icon ion-forward" href="#/tab/send/">
    <ion-nav-view name="tab-send"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'navigation.trx.title' | translate}}" icon="icon ion-arrow-swap" href="#/tab/transactions/">
    <ion-nav-view name="tab-transactions"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'navigation.about.title' | translate}}" icon="icon ion-information-circled" href="#/tab/about/">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
