<ion-tabs class="tabs-icon-top">

  <ion-tab title="Receive" icon="icon ion-reply" href="#/tab/receive">
    <ion-nav-view name="tab-receive"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Wallet" icon="icon ion-home" href="#/tab/wallet">
    <ion-nav-view name="tab-wallet"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Send" icon="icon ion-forward" href="#/tab/send">
    <ion-nav-view name="tab-send"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="icon ion-information-circled" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
