<ion-view title="{{'views.contacts.title' | translate}} (T)">
    <ion-content class="has-header">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="q" placeholder="{{'views.contacts.filter.placeholder' | translate}}">
        </label>
       <ion-list ng-repeat="item in contactList | filter: {'name': q} | orderBy:'name' as results track by item.name">
            <ion-item class="narrow" on-swipe-right="sendPayment(item.name)" on-swipe-left="remove(item.name)">
                <i class="icon ion-person"></i>
                {{ item.name }} <br />
                <font size="-2">{{ item.address }}</font>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>