.narrow {
    padding: 8px !important;
}
.no-padding {
    padding: 0px !important;
}
.my-select {
    padding: 8px !important;
    border: 0px !important;
    font-size: +2 !important;
}
.align-right {
  text-align: right !important;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}
.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}